In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('company_nps_data.csv',encoding='cp949')

In [13]:
data.head()

     회사ID      연매출액    년도   월  월별_연금보험료  월별_직원수
0  233757  41688077  2018   7   8912380      36
1  123464   1760695  2018   3    942380       5
2  342124   3221341  2018   7    781180       4
3  386420   4815584  2015  11   3795900      14
4  129243   9799736  2018  10  40724680     151

In [4]:
data['연매출액'].max()

11328779396

In [5]:
# Nan 값 없음
data.isna().sum()

회사ID        0
연매출액        0
년도          0
월           0
월별_연금보험료    0
월별_직원수      0
dtype: int64

In [6]:
# 5인 이하 영세기업 15274 곳 
data[data['월별_직원수']<5].count()

회사ID        15274
연매출액        15274
년도          15274
월           15274
월별_연금보험료    15274
월별_직원수      15274
dtype: int64

In [7]:
data[data['월별_직원수']>100].count()

회사ID        5577
연매출액        5577
년도          5577
월           5577
월별_연금보험료    5577
월별_직원수      5577
dtype: int64

In [8]:
# 1년 이하 회사 
under_1 = data['회사ID'].value_counts()<=12
under_1.value_counts()

False    2573
True     2427
Name: 회사ID, dtype: int64

In [9]:
# 3년 이하 회사 
under_3 = data['회사ID'].value_counts()<=36
under_3.value_counts()

True     4157
False     843
Name: 회사ID, dtype: int64

In [10]:
data['년도'].value_counts()

2018    39872
2016    37685
2017    17806
2015     3586
2019      852
Name: 년도, dtype: int64

In [24]:
com_19 = data[data['년도']==2019].iloc[:,0].tolist()
com_18 = data[data['년도']==2018].iloc[:,0].tolist()
com_17 = data[data['년도']==2017].iloc[:,0].tolist()

In [26]:
set(com_19)&set(com_18)&set(com_17)

{14271,
 128174,
 130261,
 130756,
 134575,
 135668,
 138077,
 155754,
 165163,
 192812,
 237625,
 250472,
 280967,
 296819,
 303882,
 395238,
 404192,
 419945,
 442467,
 442525,
 478922}

In [27]:
data['o']=np.where(
    data['회사ID'].isin(data[data['년도']==2019].iloc[:,0]),
    0,1)

In [29]:
data[data['o']==0]

         회사ID       연매출액    년도   월  월별_연금보험료  월별_직원수  o
35     395238    3948832  2019  10   5308140      25  0
41     442467   17003119  2018   4   7862060      37  0
52     192812   10353415  2019   7   5480520      17  0
75     473265    2111857  2016   4   3998040      29  0
178    280967     440704  2018   8    410400       3  0
...       ...        ...   ...  ..       ...     ... ..
99599  420165   93111515  2017  11  64414060     177  0
99728  130023   41902353  2016   2  24408120     111  0
99734  192812   19522154  2016   7    958480       3  0
99757  128174  106106973  2017   2  51496520     192  0
99761  250472    5088195  2016   5   2365580      10  0

[2286 rows x 7 columns]

In [30]:
data[data['월별_직원수'] > 100].iloc[:,0].value_counts()

128174    50
419945    48
128723    38
128264    38
381180    38
          ..
440452     1
231499     1
130512     1
231476     1
130756     1
Name: 회사ID, Length: 237, dtype: int64